


<div class="row">

	<div class="col-8-md">


		<h1>Create New Connection</h1>


		<form novalidate >

		<div class="form-group">

			<label>Name: <input type="text" class="form-control" ng-model="connect.connectName" required /></label> <br />
		</div>

		<div class="form-group">
			<label>Phone/Email <input type="text" class="form-control" ng-model="connect.connectPhone" required /></label> </br>
		</div>

		<div class="form-group">
			<label>Last Contact <input class="form-control" type="date" ng-model="connect.lastContact" required /></label> </br>
		</div>
		<div class="form-group">
			<label>Contact Inteval (days) <input  class="form-control"type="number" ng-model="connect.contactInterval" required /></label> </br>

		</div>
	<div class="form-group">
			<label>Category 

		<select ng-model="connect.connectCategory" 
       				 ng-options="category as category.catName for category in categories">">
   				 <option value="">Select</option>
			</select>
			</label> </br>

		</div>


			<input type="submit" class="btn btn-primary" ng-click="create(connect)" value="Save"/>

		</form>
	</div>

	<rolo-menu></rolo-menu>
	

</div>


