



<div class="row">


	<div class="col-8-md">
	
<h1>Sign Up.</h1>


<form novalidate >

<div class="form-group">

	<label>Name: <input type="text" class="form-control" ng-model="user.name" required /></label> <br />
</div>

<div class="form-group">
	<label>Email<input type="text" class="form-control" ng-model="user.username" required /></label> </br>
</div>

<div class="form-group">
	<label>Password<input class="form-control" type="password" ng-model="user.password" required /></label> </br>
</div>


	<input type="submit" class="btn btn-primary" ng-click="signup(user)" value="Save"/>

</form>


	</div>


<rolo-menu></rolo-menu>



</div>
